# GeoJSON and cache
*.geojson
cache/
layers-old/cache/
layers-old/DATA/

# Virtual environment
venv/
layers-old/venv/

# OS / IDE files
*.DS_Store
cache/
*.tif
*.zip
*.xyz
*.gpkg
*.aux.xml
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.geojson
cache/
layers-old/
